*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
/* 
koi bhi element par absolute lagane par wo upar uth jata hai , suki space khali ho jati hai aur uski jagah uske baad wala elemnt aa jata hai. */
/* 
top left right aur z-index tabhi kaam kart ahai jab aapka element ke paas koi position ki value hao jaise ki -- absolute,relative,sticky,fixed 
*/
#car1{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 50%;
    right:50%;
    background-color: red;
}

#car2{
    height: 100px;
    width: 100px;
    position: relative;
    /* top: 50%;
    right:50%; */
    background-color: rgb(4, 0, 255);
}
#child{
    height: 10px;
    width: 10px;
    position: absolute;
    top: 50%;
    right:50%;
    background-color: rgb(255, 234, 0);
}

